@import "../variables/colors.scss";

.cabeza {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    .logo{
        height: 120px;
        width: 120px;
        margin: 0 auto;
        margin-right: 590px;
        cursor: pointer;
    }
    input{
        height: 20px;
        width: 175px;
        border: solid 1px $color-boton;
        margin: auto 0px;
    }
    .carrito{
        height: 50px;
        width: 50px;
        transition: transform 0.3s linear;
            &:hover {
                transform: scale(1.3,1.3);
                transition: transform 0.3s linear;
            }
    }
    .icono-buscar{
        height: 35px;
        width: 35px;
        transition: transform 0.3s linear;
            &:hover{
                transform: translateX(-1px);
                transition: transform 0.2s linear;
            }
    }
}